/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Rock+Salt&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --dark-color: #171721;
    --dark-color-lighter: #7E8299;
    --accent-color: #22beaa;
    --body-background-color: #202028;
    --border-bottom-color: rgba(255,255,255,.05);
    --transparent-button-color: rgba(255,255,255,.1);
    --font-size-small: 1.4rem;
    --font-size-normal: 1.6rem;
    --font-size-medium: 2rem;
    --font-size-large: 2.4rem;
    --font-family: 'Poppins', sans-serif;
    --margin-small: 1rem;
    --margin-medium: 1.5rem;
    --gap-small: 1rem;
    --gap-medium: 2.5rem;
}

.theme-light{
    --light-color: #171721;
    --dark-color: #fff;
    --dark-color-lighter: #7E8299;
    --body-background-color: #eef0f8;
    --border-bottom-color: rgba(23,23,23,.05);
    --transparent-button-color: var(--accent-color);
}
/* Base styles */

/* Reusable classes */

/* Floating background image */

/* Header */


/* JavaScript styles */

/* Welcome message */

/* Management area */

/* Footer */

/* Scrollbar */

/* Media queries */
@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1024px) {
  
 
}